<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>400940932752-2dc515j54bata6tb3qpfhvhm46ru94s8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400940932752-2dc515j54bata6tb3qpfhvhm46ru94s8</string>
	<key>API_KEY</key>
	<string>AIzaSyCRhHRkXT3xdWZCPZJELVsuGyrgsgwC4ac</string>
	<key>GCM_SENDER_ID</key>
	<string>400940932752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marreomedia.reageratest</string>
	<key>PROJECT_ID</key>
	<string>reageraauth</string>
	<key>STORAGE_BUCKET</key>
	<string>reageraauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400940932752:ios:fd6b0b17a02040f7</string>
	<key>DATABASE_URL</key>
	<string>https://reageraauth.firebaseio.com</string>
</dict>
</plist>